.my-form{
  padding: 1.25em 28.125em;
  /*margin: 0;*/
  color: var(--delft-blue);
}

.my-form input{
  padding: 0.5em;
  width: 20vw;
  border-radius: 0.625em;
}

.my-form input[type="submit"]{
  font-size: 1em;
  width:8em;
  border-radius: 0.5em;
  border: 0.12em solid var(--sunset);
  background-color: var(--yinmn-blue);
  color: white;
  cursor: pointer;
}

.my-form input[type="submit"]:hover{
  color: var(--yinmn-blue);
  background-color: var(--sunset);
  border: 0.12em solid var(--yinmn-blue);

}

.card{
  display:flex;
  flex-wrap:wrap;
  margin: 0 auto;
  padding: 1.875em 1.875em;
  width: 50%;
  justify-content:center;
  gap: 1.875em;
  min-width:20em;
}

.signIn{
  display:flex;
  align-items:center;
  flex-direction: column;
}

.gender{
  background-color:white ;
  color:#2f3640;
  border-radius: 0.625em;
  padding:0.3em 0.3em;
  cursor:pointer;
}

.gender option{
  background-color:var(--delft-blue);
  color:white;
}

.my-form input:focus{
  border-color:lightblue;
  border-width:0.5em;
}

.gender:focus{
  border-color:lightblue;
  border-width:0.3em;
}

.msg {
  color: red;
}