<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FixIt</title>
            <link rel="stylesheet" type="text/css" href="../static/css/base.css"/>

    {% block css %}
<!--
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
-->
    {% endblock %}
</head>
<body>
    {% block header %}
    {% include('header.html') %}
    {% endblock %}
    {% block page_body_main_content %}
    {% endblock %}
    {% block page_body_js %}
    {% endblock %}
</body>
</html>