<header>
    <div class="flex-Con">
        <a href="/static">
            <img src="../static/img/Logo.png" alt="logo" id="logo">
        </a>
        <div id="sidebar">
          <ul>
<!--  HERE - Which pages do we need? -->
            <li><a href="/homePage?logout=1">log out</a></li>
            <li><a href="/logIn">log in</a></li>
            <li><a href="/signIn">Sign in</a></li>
<!--
            <li><a href="/contact">Contact Us</a></li>
-->
            <li><a href="/aboutUs">About us</a></li>
<!--
            <li><a href="/profile"> My Profile</a></li>
-->
<!--
            <li><a href="/mongodb"> Mongo DB </a></li>
-->
            <li><a href="/homePage"> <img src="../static/img/home.png" alt="Home_Page"></a></li>
          </ul>
        </div>
    </div>
</header>
