
    <link rel="stylesheet" href="../static/css/Type_Sign_In.css">
    {% extends 'HTML_Files/base.html' %}
    {% block title %}
      type sign in
      {% endblock %}
    {% block main_block %}

    <body>
      <div class="typeSign">
        <h1>Registration</h1>
        <p>Select the service you would like to receive</p>
        <div class="buttons">
        <button type="button" class="Business"><a href="Sign_In_Business.html"> I want to offer my service</a></button>
        <button type="button" class="Service"><a href="../pages/signIn/templates/signIn.html">I looking for a handyman</a></button>
        </div>
      </div>

  </body>
    {% endblock %}
